<button  class="btn" (click)="refresh()" >refresh</button>

<ul>
	<li *ngFor="let item of items" class="item">{{item}}</li>
</ul>

<!-- <bullet-list-content-loader *ngIf="loader" ></bullet-list-content-loader> -->

 <content-loader   *ngIf="loader">
	<svg:rect x="20" y="0" rx="3" ry="3" width="30%" height="5" />
	<svg:rect x="20" y="10" rx="3" ry="3" width="30%" height="5" />
	<svg:rect x="20" y="20" rx="3" ry="3" width="30%" height="5" />
	<svg:rect x="20" y="30" rx="3" ry="3" width="30%" height="5" />
	<svg:rect x="20" y="40" rx="3" ry="3" width="30%" height="5" />
	<!-- <svg:rect x="20" y="100" rx="3" ry="3" width="80" height="10" /> -->
</content-loader>
